body {
  background: rgb(75, 48, 217);
  background: linear-gradient(180deg, rgba(75, 48, 217, 0.7357317927170868) 26%, rgba(186, 0, 255, 0.6797093837535014) 84%);
  min-height: 100vh;
  overflow: hidden;
}
